header {
	margin-bottom: 120px;
}

.carte {
	width: 305px;
	height: 361px;
	margin-right: 50px !important;
}

.plus{
  text-decoration: none;
  color: #FFF !important;
  background-color: #f28e79 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1.98px;
  border-radius : 100px;
}

.plus:hover{
	  text-decoration: none;
  color: #FFF;
  background-color: #FF935E !important;
    cursor: pointer;

}

.card .card-content {
	height: 156px;
}

.test {
	font-size: 152px;
}
.b {
margin-left: 25%;
}

/***********admin add**************/
.add {
margin-left: 2%;
}

/***************block de gauche**********/
/*réseau sociaux*/
.logoSociaux {
	margin-right: 84%;

}
