@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
/*bouton*/
.login {
  background-color: #f28e79;
  border: none;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 100px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1.98px;

  display: block;
  align-content: center;
  margin: auto;
}


.login:hover {
    background-color: #FF935E;
    cursor: pointer;
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

}

.inscrit {
  text-decoration: none;
  color: #FFF;
  background-color: #f28e79;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 100px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1.98px;

  align-content: center;
  margin-left: 185px;
}

.inscrit:hover{
  text-decoration: none;
  color: #FFF;
  background-color: #FF935E;
    cursor: pointer;
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.mesBoutons {
  display: block;
  align-content: center;
  margin: auto;
}

/*titre*/
.card-header {
  text-transform: uppercase;
  font-family: 'Baloo Chettan', cursive;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 2px;
  background-color: #cad8ba;
  font-size: 17px;
  text-align: center;
}
