.contenu{
	margin-top: 150px;
}

.materialboxed{
	height:400px;
}

label{
	font-weight: bold;
	color: black;
}

#price{
	background-color : #f2d4c4;
	border-radius: 15px;
	border-bottom: solid 3px #8b8d8e;
	color: #965634;
	padding : 10px;
	width : 150px;
	text-align: center;
	font-size : 1.5em;
	margin-bottom: 20px;
	margin-top: 20px;
}

.font{
	font-family : 'Baloo Chettan', cursive;
}

.taille{
	font-size : 15px;
}