@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


/*********************************** Nav Footer ******************************************/


.header {
	position:fixed;
	top:0;
	background: #cad8ba;
 	z-index : 2;
}

nav>a {
  text-transform: uppercase;
  font-family: 'Baloo Chettan', cursive;
    font-weight: bold;

}



footer {
    background-color: #e9f2de;
    color: #526040 !important;
	padding: 10px;
}



.reseau {
    width: 30px;
    height: 30px;
}

#copyright{
	margin-left:5%;
}

.icons{
	display: float;
	float:right;
	margin-right: 5%;
}

/************************************* ACCUEIL ********************************************/

/*Parallax*/
#slide1 {
    background-image: url(../img/fond1.svg);
    height: 680px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#slide2 {
    background-image: url(../img/fond2.svg);
    height: 660px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide3 {
    background-image: url(../img/fond3.svg);
    background-repeat : no-repeat;
        background-attachment: fixed;
    background-position: center;
            background-size: cover;
    height: 600px;
}

@keyframes bounce{
     from {top: 106px;}
     to   {top: 86px;}
}

#mongolfiere1{
    widht: 200px;
    height: 250px;
    margin-left : 75px;
    position: relative;
    background-image : url(../img/mongolefiere1.svg);
    background-repeat: no-repeat;
    animation: bounce 1.50s linear infinite alternate;
}

#mongolfiere2{
    width: 150px;
    height:200px;
    position: relative;
    background-image : url(../img/mongolefiere2.svg);
    background-repeat: no-repeat;
    animation: bounce 1.50s linear infinite alternate;
    float : right;
    z-index: 2;

}


#button{
    display:inline-block;
    padding-left: 150px;
    padding-right : 150px;
    margin-left : 450px;
    background-color: #81c9c5;
    attachment: fixed;
    z-index: 1;
		border-radius: 100px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		color: #FFF;
		letter-spacing: 1.98px;
}

#button2{
    display:inline-block;
    padding-left: 150px;
    padding-right : 150px;
    margin-left : 450px;
    background-color: #f28e79;
    attachment: fixed;
    z-index: 1;
		border-radius: 100px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		color: #FFF;
		letter-spacing: 1.98px;
		margin-top: 300px;
}

#button3{
    display:inline-block;
    padding-left: 150px;
    padding-right : 150px;
    margin-left : 420px;
    background-color: #ffe8a5;
    attachment: fixed;
    z-index: 1;
		border-radius: 100px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		color: #635853;
		letter-spacing: 1.98px;
		margin-top: 500px;
}

************************/*Sidenav panier*/**********************
#mySidepanel {

}
.sidepanel  {
	background-image: url(../img/anier.svg);
	background-repeat: no-repeat;
  width: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff6e9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  cursor: pointer;
  color: white;
}

.connexion, .inscription {
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 20px;
    background: #cad8ba;
    color: #fff;
    font-size: 20px;
}

.monpanier {
  font-family: 'Baloo Chettan', cursive;
    margin-left: 42px;
    font-size: 30px;
		color: #f28e79;
		margin-top: 130px;
}

.closebtn {
	  font-family: 'Baloo Chettan', cursive;
			color: #f28e79;
}

.monpanier:hover, .closebtn:hover {
	color:#FF935E;
}

.validerPanier {
	background-color: #f28e79;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 1.98px;
	text-align: center;


}

.validerPanier:hover{
	background-color: #FF935E;
	cursor: pointer;
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

/**************************************text page accueil********************************************/

.text {
	
		font-size: 25px;
		color: #f28e79;
		margin-top: 130px;
		width: 900px;
		text-align:center;
		position: relative;
		display:block;
		top:90px;
		text-transform:uppercase;
		margin-left: 10%;
		margin-right:10%;
		
		
}

.titleslide1{
	font-size : 50px;
	letter-spacing: 15px;
	display:block;
	position: absolute;
	top: 5px;
	font-family: 'Baloo Chettan', cursive;
	margin-left:10%;
	margin-right : 10%;
	
}

.textslide1{
	position: relative;
	
}

.textWeek{
	font-size: 25px;
		color: #fff;
		width: 900px;
		text-align:center;
		position: relative;
		display:block;
		top:90px;
		text-transform:uppercase;
		margin-left: 15%;
		margin-right:15%;
}

.textslide2{
	position: relative;
	
}












