/*header*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

#slide1 {
	background-image: url(../img/fond1.svg);
	height: 680px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide2 {
	background-image: url(../img/fond2.svg);
	height: 680px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide3 {
	background-image: url(../img/fond3.svg);
	background-repeat : no-repeat;
	height: 500px;
}

.header {

	position: fixed;
	background: #cad8ba;
}
.nav-item {
		  font-family: 'Baloo Chettan', cursive;
}
nav>a {
  text-transform: uppercase;
  font-family: 'Baloo Chettan', cursive;
	font-weight: bold;
}

#footer_content {
	background-color: #e9f2de;
}

.footer_color {
	color: #526040 !important;
}

.reseau {
	width: 30px;
	height: 30px;
}

/*Sidenav panier*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f7eeee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}


.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  cursor: pointer;
  color: white;
}

.connexion, .inscription {
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 20px;
	background: #cad8ba;
	color: #fff;
	font-size: 20px;
}

.monpanier {
  font-family: 'Baloo Chettan', cursive;
	margin-left: 42px;
	margin-bottom: 30px;
	font-size: 30px
}
