/* header{
	position : fixed;
	padding-bottom : 20px;
	background-color : #dee7f4;
	position : sticky;
	top : 0;


}

#slide1{
	background-image: url();
	 height: 500px;

  Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top : 80px;

}

#slide2{
	background-image: url() ;
	 height: 500px;

}
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.header {
  background: #cad8ba;
}

nav > a{
	font-family: 'Montserrat';
	font-weight: bold;
}

#footer_content{
	background-color: #e9f2de;
}

.footer_color{
	color: #526040 !important;
}

.reseau{
	width : 30px;
	height : 30px;
}
